body {
    background-color: #ddd;
}
img{
    max-width: 100%;
}

.container{
    max-width: 900px;
    margin: auto;
}

.cards {
    display: flex;
}

.card {
    background-color: #fff;
    padding: 20px;
    border-radius: 4px;
    width: 25%;
    box-shadow: 0 2px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.card-image {
    border-radius: 5px;
}

.name, .description {
    text-align: center;
    margin-bottom: 15px;
    
}

.description{
    border-bottom:1px solid #212121 ;
    padding-bottom: 20px;
}

.tag {
    position: relative;
    padding-bottom: 10px ;
}

.tag div {
    position: absolute;
    padding: 10px 25px;
    color: #fff;
    border-radius: 50px;
    background-color: #212121;
    margin-left: 50%;
    transform: translate(-50%);
    top: -30px;
    box-shadow: black;
    -webkit-box-shadow: 0px 11px 10px 2px rgba(34, 60, 80, 0.18);
    -moz-box-shadow: 0px 11px 10px 2px rgba(34, 60, 80, 0.18);
    box-shadow: 0px 11px 10px 2px rgba(34, 60, 80, 0.18);
}

.price{
    font-size: 20px;
    font-weight: bold;
}